@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai|Dosis|Nunito|Pacifico|Rajdhani|Righteous&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.row{
  display: flex;
  flex-flow: row nowrap;
}

.column{
  display: flex;
  flex-flow: column nowrap;
}

.weather-icon{
  width: 100px;
  height: auto;
}

.search-form{
  width: 100%;

  input{
    border: none;
    padding: 1em;
    outline: none;
  }
  
  .search-box{
    width: 90%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .search-btn{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: .5s;

    &:hover{
      background-color: rgb(255, 230, 0);
      color: white;
      cursor: pointer;
    }
  }

  .fields{
  }
}

.country-details{
  justify-content: center;

  .country-name{
    font-family: 'Righteous', cursive;
  }

  .region{
    font-family: 'Nunito', sans-serif;
  }
  
  .longitude{
    margin-right: 1em;
  }
  
  .longitude,.latitude{
    font-family: 'Rajdhani', sans-serif;
  }
}

.container{
  align-items: center;
  justify-content: flex-start;
}

.main-container{
  width: 40%;
  margin: auto;
}

.night{
  animation: night 2s ease-in-out 0s 1 forwards normal;
  .country-details{
    color: white;
  }

  .search-box{
    &:focus{
      border: 1px solid '#f1c40f';
    }
  }

  .details-card{
    background-color: rgb(255, 238, 0);
    color: rgb(5, 5, 5);
    box-shadow: 0 0 5px .5px white;
  }
}

.day{
  animation: day 2s ease-in-out 0s 1 forwards normal;
}

@keyframes night {
  from{
    background-color: rgb(255, 217, 0);
  }
  
  to{
    background-color: rgb(5, 5, 5);
  }
}

@keyframes day {
  from{
    background-color: rgb(5, 5, 5);
  }
  
  to{
    background-color: rgb(255, 217, 0);
  }
}
;
.details-card{
  background-color: white;
  padding: 2em;
  margin-right: 1em;
  border-radius: 5px;
  box-shadow: 0 0 5px .5px black;
  font-family: 'Nunito', sans-serif;
}